
/* Apply Josefin Sans to the entire interface */
* {
    font-family: 'Josefin Sans', sans-serif !important;
}

/* Scroll Bar */
.slider {
    position: absolute !important;
    right: 8px !important;
    width: 8px !important;
    background: #bc9abc !important;
    left: auto !important;
}
